


	<div >
		<h1 mat-dialog-title>Patient</h1>
		<div mat-dialog-content>
			<div style="display: flex;flex-direction: column; margin:1rem auto;  padding: 1rem;">
	
				<mat-form-field>
					<input matInput [(ngModel)]="data.firstName" type="text" placeholder="firstName">
				</mat-form-field>
	
				<mat-form-field>
					<input matInput [(ngModel)]="data.lastName" type="text" placeholder="lastName">
				</mat-form-field>
	
				<mat-form-field>
					<input matInput [(ngModel)]="data.dni" type="number" placeholder="DNI" maxlength="8">
				</mat-form-field>
	
				<mat-form-field>
					<input matInput [(ngModel)]="data.phone" type="number" placeholder="Phone" maxlength="9">
				</mat-form-field>

				<mat-form-field>
					<input matInput [(ngModel)]="data.email" type="email" placeholder="email">
				</mat-form-field>
 
			</div>
		</div>
		<div mat-dialog-actions>
			<button mat-button (click)="cancelar()">Cancelar</button>
			<button mat-button [mat-dialog-close]="data" (click)="guardar()" cdkFocusInitial>Confirmar</button>
		</div>
	</div>