<router-outlet></router-outlet>
<div class="general">
    <div class="top">
        <h1 class="text" >MÓDULO SIGNOS</h1>
    </div>
    
    <mat-form-field>
        <mat-label>Filtro de Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <div class="mat-elevation-z8 table">
        <table mat-table [dataSource]="dataSource" matSort>


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro. </th>
                <td mat-cell *matCellDef="let row"> {{row.idSignos}} </td>
            </ng-container>

            <ng-container matColumnDef="idPatient">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente</th>
                <td mat-cell *matCellDef="let row"> {{row.patient.firstName}} {{row.patient.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha</th>
                <td mat-cell *matCellDef="let row"> {{row.fecha  | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
            

            <ng-container matColumnDef="temperatura">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
                <td mat-cell *matCellDef="let row"> {{row.temperatura}} </td>
            </ng-container>


            <ng-container matColumnDef="pulso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </th>
                <td mat-cell *matCellDef="let row"> {{row.pulso}} </td>
            </ng-container>


            <ng-container matColumnDef="ritmo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo </th>
                <td mat-cell *matCellDef="let row"> {{row.ritmo}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button color="primary" [routerLink]="['edit', row.idSignos]">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-button color="accent" (click)="delete(row.idSignos)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[2,3,4,5,6,7,8,9,10]" aria-label="Select page of signos" [length]="totalElements" (page)="showMore($event)"></mat-paginator>

        <button mat-fab color="accent" style="float: right" routerLink="/pages/signos/new">
            <mat-icon>add</mat-icon>
        </button>

    </div>

</div>
