
.general{
    margin-left: 40px !important;
    margin-right: 00px !important;
}

.table{
    margin-left: 20px;
    margin-right: 20px;
}



.column {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
  }
  
  .top {
    padding-top: 50px;
  }
  
  
  .text {
    color: black;
    font-size: 18px;
    font-weight: 900;
  }
  .subtext {
    color: gray;
    font-size: 15px;
    font-weight: 600;
  }
  