<!-- Welcome User: {{ username }} -->

<div class="top">
    <h1 class="text">BIENVENIDO</h1>
    <img src="assets/ribbon.png"> 
    <div class="container">
      <div class="column">
        <p class="text">{{ username }}</p>
        <p class="subtext">Usted tiene el Rol: {{ rolname }}</p>
      </div>
    </div>
  </div>
  