div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
  }

  .top {
    padding-top: 50px;
  }
  

  .text {
    color: black;
    font-size: 18px;
    font-weight: 900;
  }
  .subtext {
    color: gray;
    font-size: 15px;
    font-weight: 600;
  }
  