
<div class="general">

  <div class="top">
    <h1 class="text" *ngIf="isEdit">EDITAR</h1>
    <h1 class="text" *ngIf="!isEdit">AGREGAR</h1>
  </div>

    <form class="example-container" [formGroup]="form" (submit)="saveForm()" #frmSignos="ngForm">
        <div [hidden]="true">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" required formControlName="idSignos">
            </mat-form-field>
        </div>

        <mat-form-field>
            <input matInput placeholder="Paciente" [matAutocomplete]="autoPatient" [formControl]="patientControl" formControlName="patient" (optionSelected)="onPatientSelected($event)">
            <mat-autocomplete #autoPatient="matAutocomplete" [displayWith]="showPatient">
                <mat-option *ngFor="let p of patientsFiltered$ | async" [value]="p">
                    {{p.firstName}} {{p.lastName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="DD/MM/YYYY" [min]="minDate" formControlName="fecha" [(ngModel)]="dateSelected">
          <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Temperatura" minlength="3" formControlName="temperatura">     
            <small *ngIf="f['temperatura'].errors?.['required'] && f['temperatura'].touched" class="invalid">Is required</small>   
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Pulso" minlength="3" required formControlName="pulso">
            <small *ngIf="f['pulso'].errors?.['required'] && f['pulso'].touched" class="invalid">Is required</small>   
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Ritmo Respiratorio" formControlName="ritmo">
            <small *ngIf="f['ritmo'].errors?.['required'] && f['ritmo'].touched" class="invalid">Is required</small>   
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
            <mat-icon>done</mat-icon>
            <span>Guardar</span>
        </button>

        <button mat-raised-button color="accent" type="button" routerLink="/pages/signos">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>

    </form>
</div>
