.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.invalid {
    color: red;
}

.ui-datepicker{
  position: relative; 
  z-index: 9999999 !important;
}

.form-row{
  padding:20px 10px 10px 10px;
}



button-plus{
  border: none;
  background-color: transparent;
  color:  #00A7B5;
  margin: 5px;
  outline: none;
  box-shadow: none;
}
.modal{
  width: 100%;
}
.modal-title{
  font-size: 30px;
  padding: 10px 0;
  border-bottom: 4px solid #fff;
  color: white;
  text-align: center;
}
.modal-content{
  display: flex;
  background-color: #00A7B5 ;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.list{
  padding: 30px 75px 10px 30px; 
  position:relative;
}
.list label{ 
  position:relative; 
  display:block; 
  margin: 10px 0; 
  color:#fff;
  font-size: 15px;
  cursor: pointer;
}
.list input[type="checkbox"]
{
  -webkit-appearance: none;
}
.list i{
  position: absolute;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
}
.list input[type="checkbox"]:checked ~ i
{
  top: 4px;
  border-top: none;
  border-right: none;
  height: 8px;
  width: 15px;
  transform: rotate(-45deg);
}
.list span{
  position: relative;
  left: 20px;
  transition: 0.5s;
}
/* .list span:before
{
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: translateY(-50%) scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.list input[type="checkbox"]:checked ~ span:before
{
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
} */
.btn-select{
  background-color: white;
  color: #00A7B5 ;
  display: inline-block;
}

.title-button
{
  color: #00A7B5 ;
  cursor: pointer; 
}



 

.column {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  color: black;
}

.top {
  padding-top: 50px;
}


.text {
  color: black;
  font-size: 18px;
  font-weight: 900;
}
.subtext {
  color: gray;
  font-size: 15px;
  font-weight: 600;
}

.general{
  margin-left: 40px !important;
  margin-right: 00px !important;
}
